[submodule "assets/lib/font-awesome"]
	path = assets/lib/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "assets/lib/bootstrap"]
	path = assets/lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "assets/lib/less-fontstacks"]
	path = assets/lib/less-fontstacks
	url = git://github.com/mralexandernickel/less-fontstacks.git
[submodule "assets/lib/less-easing"]
	path = assets/lib/less-easing
	url = git://github.com/mralexandernickel/less-easing.git
