---
layout: default
---
<div class="row">
  <div class="span8">
    {% for post in site.posts %}
    <div class="hero-unit">
      <a href="{{ BASE_PATH }}{{ post.url }}">
        <h3>{{ post.title }} <small>{{ post.date | date_to_string }}</small></h3>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="span4">
    <h3>categories</h3>
    <ul>
      {% for category in site.categories %}
      <li>{{ category | first }}</li>
      {% endfor %}
    </ul>
    <h3>tags</h3>
    <ul>
      {% for tag in site.tags %}
      <li>{{ tag | first }}</li>
      {% endfor %}
    </ul>
  </div>
</div>