// 
//  styles for articles and article teasers
//  
//  @author Alexander Nickel <mr.alexander.nickel@gmail.com>
//  @date 2013-05-02T08:38:51Z
// 
article {
  header {
    h4 {
      font-size: 16px !important;
    }
  }
  
  &.teaser {
    border-bottom: 1px solid @grayLighter;
    padding-top: @baseLineHeight;
    padding-bottom: @baseLineHeight;
    
    &:first-child {
      padding-top: 0;
    }
    
    &:last-child {
      border-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    
    .content_wrap {
      max-height: @baseLineHeight * 5;
      overflow: hidden;
    }
  }
  
}