// 
//  styles for articles and article teasers
//  
//  @author Alexander Nickel <mr.alexander.nickel@gmail.com>
//  @date 2013-05-02T08:38:51Z
// 
article {
  header {
    h4 {
      font-size: 16px !important;
      text-indent: 7px;
    }
  }
  
  &.teaser {
    border-bottom: 1px solid @grayLighter;
    padding-top: @baseLineHeight;
    padding-bottom: @baseLineHeight;
    background: @white;
    
    &:first-child {
      padding-top: 0;
    }
    
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    
    .content_wrap {
      max-height: @baseLineHeight * 5;
      overflow: hidden;
    }
    
    .read_more {
      font-family: 'Source Sans Pro', sans-serif;
      display: block;
      text-transform: uppercase;
      color: @blue;
      font-size: 20px;
      line-height: 30px;
      height: 30px;
      margin-top: 20px;
      text-indent: 7px;
      
      &:hover {
        color: @blue;
        text-decoration: none;
      }
      
      &:active {
        color: #F14A29;
      }
    }
  }
  
}

#search_results {
  article.teaser {
    &:first-child {
      margin-top: 50px;
    }
  }
}