#backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  width: 100%;
  z-index: 98;
  background: rgba(0,0,0,0.001);
  .ease-in-out();
  
  &.open {
    background: rgba(0,0,0,0.7);
  }
}