#backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 98;
  background: rgba(0,0,0,0.001);
  display: none;
  .ease-in-out(200ms);
  
  &.open {
    display: block;
    background: rgba(0,0,0,0.7);
  }
}