// 
//  totop link
//  
//  @author Alexander Nickel <mr.alexander.nickel@gmail.com>
//  @date 2013-05-02T07:22:05Z
// 
.totop {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  font-size: 26px;
  color: @white;
  background: @blue;
  margin: 40px auto;
  width: 200px;
  
  &:hover {
    text-decoration: none;
    color: @white;
    background: @orange;
  }
  
  &:active {
    background: @orange;
  }
}