<div id="flyout" class="hidden-desktop">
  <div class="flyout-bar">
    <a id="flyout_toggle" class="toggle" href="#">
      <i class="icon-reorder"></i>
    </a>
    <div id="flyout_search" class="pull-right">
      <a id="flyout_search_toggle" class="toggle" href="#">
        <i class="icon-search"></i>
      </a>
      <input id="search_field" type="text" class="search-field hidden" placeholder="Search" />
    </div>
  </div>
  <div class="container-flyout">
    <ul class="nav nav-list">
      <li class="nav-header">Pages</li>
      {% if page.url == '/index.html' %}
        {% assign active = 'active' %}
      {% endif %}
      <li class="{{ active }}"><a href="/">Blog</a></li>
      {% for link in site.navigation %}
        {% assign active = nil %}
        {% if page.url == link.url or page.layout == link.layout %}
          {% assign active = 'active' %}
        {% endif %}
        <li class="{{ active }}">
          <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
      <li class="nav-header">Posts</li>
      {% for post in site.posts %}
        <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
