<div id="flyout" class="hidden-desktop">
  <div class="flyout-bar">
    <a class="toggle" href="#">
      <i class="icon-reorder"></i>
    </a>
  </div>
  <div class="container-flyout">
    <ul class="nav nav-list">
      <li class="nav-header">About</li>
      <li><a href="#">eins</a></li>
      <li><a href="#">zwei</a></li>
      <li class="active"><a href="#">drei</a></li>
      <li><a href="#">vier</a></li>
      <li class="nav-header">Projects</li>
      <li><a href="#">fünf</a></li>
      <li><a href="#">sechs</a></li>
      <li><a href="#">sieben</a></li>
      <li><a href="#">acht</a></li>
      <li><a href="#">neun</a></li>
      <li><a href="#">zehn</a></li>
      <li class="nav-header">Service</li>
      <li><a href="#">elf</a></li>
      <li><a href="#">zwölf</a></li>
      <li><a href="#">dreizehn</a></li>
      <li><a href="#">vierzehn</a></li>
      <li><a href="#">fünfzehn</a></li>
      <li class="nav-header">Events</li>
      <li><a href="#">sechzehn</a></li>
      <li><a href="#">siebzehn</a></li>
      <li><a href="#">achtzehn</a></li>
      <li><a href="#">neunzehn</a></li>
      <li><a href="#">zwanzig</a></li>
    </ul>
  </div>
</div>