<header>
  <div class="container">
    <div class="row">
      <div class="span4">
        <a href="/"><img src="/img/html5_logo.svg" width="300" height="300" alt="" /></a>
      </div>
      <div class="span8">
        <ul class="nav nav-desktop">
          {% if page.url == '/index.html' %}
            {% assign active_index = 'active' %}
          {% endif %}
          <li class="{{ active_index }}"><a href="/">Blog</a></li>
          {% for link in site.navigation %}
            {% assign active = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign active = 'active' %}
            {% endif %}
            <li class="{{ active }}">
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
          
        </ul>
      </div>
    </div>
  </div>
</header>