<div class="navbar navbar-fixed-top navbar-inverse visible-desktop">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if page.url == '/index.html' %}
        {% assign active = 'active' %}
      {% endif %}
      <a class="brand {{ active }}" href="/">mralexandernickel</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% for link in site.navigation %}
            {% assign active = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign active = 'active' %}
            {% endif %}

            <li class="{{ active }}">
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>