!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %title mralexandernickel's github page
    %link{:rel => "stylesheet", :href => "css/application.css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:type => "text/javascript", :src => "js/bootstrap.js"}
    %script{:type => "text/javascript", :src => "js/application.js"}
    
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
      
        %button.btn.btn-navbar{:type => "button", :data => { :toggle => "collapse", :target => ".nav-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        
        %a.brand Title
        
        .nav-collapse.collapse
          %ul.nav
            %li
              %a{:href => "index.html"} Home
            %li.active
              %a{:href => "projects.html"} Projects
            %li
              %a Link
    
    #wrapper.container
      .row
        %h1 projects
      
      .row
        %ul.thumbnails
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}
          %li.span3
            %a.thumbnail{:href => "#"}
              %img{:src => "http://placehold.it/300x200"}