<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mralexandernickel's github page</title>
  <link rel="stylesheet" href="/css/application.css" />
  <script type="text/javascript" src="/lib/modernizr/modernizr.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>
<body>
  
  {% include flyout.html %}
  
  <div id="main">
    <div id="wrapper" class="container">
      {{ content }}
    </div>
  </div>
  
  {% include ga.html %}
  
</body>
</html>